.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  transition: opacity 0.5s ease;

  &:hover {
    opacity: 0.8;
  }

  &--primary {

  }

  &--secondary {
    background-color: $c-white !important;
    color: $c-black !important;;
    font-weight: $fw-bold !important;;
    letter-spacing: 0.2px;
    min-width: 140px;
  }
}